*{
    color:  rgba(255, 255, 255, 0.789);
    font-family: work sans;
}
.navbar{
    height: 92px;
   background-color: rgb(16, 16, 43);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
h2{
    font-size: 45px;
    font-weight: 700;
}
h2 span{
    background: linear-gradient(45deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));
   background-clip : text;
    -webkit-text-fill-color: transparent;
}
ul{
    list-style: none;
    display: flex;
    gap: 20px;
    justify-content: space-between;
}
.btn{
    font-size: 16px;
    font-weight: 500;
    color: white;
    display: flex;
    align-items: center;
    gap: 4px;
    border: none;
    border-radius: 10000px;
     background: linear-gradient(47deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));
    padding: 12px 20px;
}
.menu-icon{
    display: none;
}
#banner{
     background-image: url(./assets/hero-bg.png);
     background-position: center;
     background-size: cover;
    text-align: center;
    padding: 80px 0px;
}
.banner-image{
    margin: 0 auto;
    position: relative;
    width: 350px;
    height: 350px;
}
.img1{
    width: 100%;
    height: 100%;
}
.img2{
    position: absolute;
    top: 50%;
  left: 50%;
  width: 150px;
    transform: translate(-50%, -50%);
}
.new-button{
    position: relative;
    display: inline-block;
}
.new{
    color: #000;
    position: absolute;
    background-color: rgb(49, 212, 49);
    padding: 8px 14px;
    border-radius: 20px;
    font-weight: 500;
    top: 15%;
    right: 10px;
    animation: pulse 1.5s infinite;
}
@keyframes pulse {
    0% { transform: translateY(-50%) scale(1); }
  50% { transform: translateY(-50%) scale(1.1); }
  100% { transform: translateY(-50%) scale(1); }
}
#banner h1{
    font-weight: 700;
    font-size: 55px;
    margin-bottom: 0px;
}
.banner-button{
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top:30px ;
}
.banner-second-button{
    background-color: rgb(9, 9, 63);
    border: 1px solid rgb(59, 196, 59);
    border-radius: 10000px;
    display: flex;
    align-items: center;
    gap: 7px;
    padding: 12px 18px;
    color: rgb(59, 196, 59);
    font-weight: 600;
    font-size: 18px;
     
}
#about{
    background-color: rgb(16, 16, 43);
    padding:50px;

}
.about-text{
    width: 800px;
    height: 222px;
    text-align: center;
    margin: 0 auto;
}
.about-text p{
    line-height: 26px;
}
.join{
    padding-top: 30px;
}
.line{
    border: 1px solid  rgba(255, 255, 255, 0.104) ;
    margin: 50px auto;
    width: 1200px;
    height: 0px;
}
.card-part h1{
  color: rgb(59, 196, 59);
}
.about-card{ 
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    text-align: center;
}
#choose{
      background-color: rgba(35, 14, 61, 1);
     padding: 100px 0px;
  
}
 h2{
    font-weight: 600;
    text-align: center;
}
.tech-card{
    border-radius: 40px;
    background-color: rgba(53, 17, 101, 0.4);
    width: 100%;
    height: 100%;
    padding-left: 40px;
    padding-top: 40px;
}
.headphone{
    grid-area: headphone;
}
.mobile{
    grid-area: mobile;
}
.global{
    grid-area: global;
}
.zif{
    grid-area: zif;
}
.book{
    grid-area: book;
}
#choose .techwave-box{
       margin: 0 auto;
       padding: 0px 120px 120px 120px;
    width: 1200px;
    height: 880px;
    display: grid;
    gap: 70px;
    grid-template-areas: 
    "headphone  mobile mobile  "
    "headphone  global global "
    "zif        zif     book";
}
#future{
    background-color: rgb(16, 16, 43);
    padding: 120px 0px;
}
.card-img{
     position: relative;
     height: 214px;
     width: 380px;
}
.bg-img{
    width: 100%;
    height: 100%;
}
.play-img{
     position: absolute;
  top: 50%;
  left: 50%;
  width: 60px;  
  transform: translate(-50%, -50%);
  background-image: url(./assets/Ellipse\ 3.png);
  background-repeat: no-repeat;
  background-position: center;
}
.clock{
    display: flex;
    align-items: center;
    gap: 5px;
}
.clock p{
      color: rgb(59, 196, 59);
}
.future-box{
    width: 1200px;
    margin: 0 auto;
    display: flex;
   padding-left: 30px;
   padding-bottom: 100px;
    gap: 30px;
}
.future-card{
    border-radius: 30px;
    background-color:rgba(35, 14, 61, 1) ;
}
.card-text{
   padding: 20px;
   
}
.host{
    width: 1120px;
    display: flex;
    align-items: center;
    gap: 30px;
    margin: 0 auto;
    background-color:rgba(35, 14, 61, 1)  ;
    padding: 40px;
    border-radius: 30px;
}
.host-icon{
    display: flex;
    gap: 10px;
    align-items: center;
}
.host-icon>*{
    width: 20px; 
    height: 20px;
    border: 1px solid rgba(255, 255, 255, 0.148);
    padding: 10px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
}
.linkin{
    background-image: url(./assets/linkedin.png);
}
.x{
    background-image: url(./assets/x.png);
}
.instagram{
    background-image: url(./assets/instagram.png);
}
.youtube{
    background-image: url(./assets/youtube.png);
}
#footer{
    background-image: url(./assets/footer-bg.png);
    background-position: center;
    background-size: cover;
    text-align: center;
   padding-top: 120px;
   padding-bottom: 100px;
  
}
.icon-text{
    display: flex;
    align-items: center;
    gap: 10px;
}
.footer-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}
#footer h2{
    margin: 0px;
}
@media screen and (max-width:576px) {
    header{
        width: 100%;
    }
    .navbar{
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    #about , .about-text, header
    {
        width: 100%;
    }
    .about-text{
        height: 200px;
    }
.about-card{
   display: grid;
   grid-template-columns: repeat(2,1fr);
   gap: 20px;
    width: 100%;
}
    #choose{
        width: 100%;
        padding: 20px;
        padding-right: 80px;
      height: 1500px;
    }
    #choose .techwave-box{
      width: 100%;
       padding: 10px;
        display: grid;
        gap: 30px;
        grid-template-areas: 
        "headphone"
        "mobile"
        "global"
        "zif"
        "book";
    }
    #future{
        padding: 10px;
        width: 100%;
    }
  .future-box,.host{
    padding: 20px;
    flex-direction: column;
    justify-content: center;
     width: 80%;
  }
.future-card{
}
.card-img{
    width: 80%;
}
.host,.host-icon{
    text-align: center;
}
.host-icon{
    padding-left: 30%;
}
#footer{
    width: 100%;
     min-height: 220px;
    padding: 40px 15px;
}
.footer-icon{
   flex-wrap: wrap;
   gap: 10px;
}
}